body{
    background: url('https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/45641485_1430920867040458_1992353578206887936_n.jpg?_nc_cat=103&_nc_ht=scontent-sin2-2.xx&oh=8cd5000ec99326780eb179964ede2a29&oe=5C77568F');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}


#hello{
    font-family: 'Georgia', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 300%;
    color: black;
    text-align: center;
}
h1,#hello1{
    font-family: 'Georgia', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 300%;
    color: black;
    text-align: center;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
#stat{
    background-color:rosybrown;
    border-radius:10px;
}

h5{
  font-family: 'Georgia', Times, serif;
}

p{
  font-family: 'Georgia', Times, serif;
}

#acc{
    font-family: 'Georgia', Times, serif;
    font-size: 170%;
}

#id_change{

}
#profilphotos{
}

#acc-panel{
  display: none;
}


/*Library*/
#library{
    font-family: 'Georgia', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 300%;
    color: black;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Rasa');
.clicked {
    color: pink !important;
}

.counter-container {
    font-family: 'Rasa', serif;
    font-size : 2rem;
    color : black;
    text-align: center;
}

.btn btn-dark {
  text-align: center;
}
