{% extends "navbar.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Story PPW
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'style.css' %}">
    <script src="{% static 'js/Lab6.js' %}"></script>
{% endblock %}

{% block content %}

<div class="alert alert-success">
  {% if user.is_authenticated %}
               <h5 class="helloLogin">Hello, {{ user.username }}</h5>
      {% else %}
               <a class="lead" href="{% url 'Lab6:login' %}">Log in</a>
      {% endif %}
</div>


<div class="row center">
    <div class="col-sm-12">
        <h1 class="center-text" id="library">My Library</h1>
    </div>
</div>

<center>
    <button type="button" class="btn btn-dark" id="architecture">Architecture</button>
    <button type="button" class="btn btn-dark" id="comic">Comic</button>
    <button type="button" class="btn btn-dark" id="quilting">Quilting</button>
</center>

<div class="counter-container">
  <i class ="fa fa-star"></i>: <span class="counters">0</span>
</div>
<table class="table table-dark">
  <thead> <tr>
    <th scope="col"> No.</th>
    <th scope="col"> Title</th>
    <th scope="col"> Cover</th>
    <th scope="col"> Author</th>
    <th scope="col"> Published date</th>
    <th scope="col"> Favorites</th>
  </tr> </thead>
  <tbody> </tbody>
</table>

{% endblock %}
