{% extends "navbar.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Story PPW
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'style.css' %}">
{% endblock css %}

{% block content %}

    <div class="container">
        <div class="row center">
            <div class="col-sm-12">
                <h1 class="center-text" id="hello">Hello, Apa kabar?</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form class="form-group" action="{% url 'Lab6:index' %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                <input type="submit" id="submit-button" class="btn btn-success" value="Submit">
                <a href="{% url 'Lab6:delete' %}" class="btn btn-danger" id="delete_button">Delete</a>
                </form>

          </div>
          <div class="container">
              <br>
              {% for status in statuses %}
                  <div class="col-sm-6" id="stat">
                      <h5>Date: {{status.date}}</h5>
                      <h5>Status: {{status.status}}</h5>
                  </div>
              {% endfor %}
          </div>
      </div>
  {% endblock %}
