{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Story PPW
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'style.css' %}">
    <script src="{% static 'js/Lab6.js' %}"></script>
{% endblock %}

{% block content %}
<center>
	<h2>Login</h2>
  <form method="post">
    {% csrf_token %}
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
</center>
{% endblock %}
