{% extends "navbar.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Story PPW
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'style.css' %}">
{% endblock css %}

{% block content %}



<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="container text-left">
      <h3 class="btn btn-dark" id="id_change">Change Theme</h3>
    </div>
    <div class="container text-center">
        <div class="text-center">
            <img id="profilphotos" src="https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/42058749_1397298703736008_1790833012598898688_n.jpg?_nc_cat=103&_nc_ht=scontent-sin2-2.xx&oh=36adfd368a9f046f43cbe1f1173afab3&oe=5C472B2E" class="rounded-circle"   width="20%" height="30%" data-toggle="tooltip" data-placement="top" title="Ini foto saya!">
            <h3 class="font-weight-bold">Salsabila Maurizka</h3>
            <h6>1706043986</h6>
            <h6>Fakultas Ilmu Komputer, Universitas Indonesia</h6>
        </div>
      <div class="accordion">
          <h3 class="btn-warning rounded" id="acc">Activities</h3>
          <div class="bg-white" id="acc-panel">
            <p>Studying PPW and SDA everyday</p>
          </div>
          <h3 class="btn-warning rounded" id="acc">Organization/Committee</h3>
          <div class="bg-white" id="acc-panel">
            <p>DPM FASILKOM UI 2018</p>
            <p>KOMUNITAS MAHASISWA PURWOREJO(KOMPOR) 2018</p>
            <p>EDUCARE 2019</p>
            <p>WISUDA GANJIL FASILKOM 2019</p>
            <p>SIGEMPUR 2019</p>
          </div>
          <h3 class="btn-warning rounded" id="acc">Achievement</h3>
          <div class="bg-white" id="acc-panel">
            <p>Surviving in Fasilkom till now</p>
            <p>Completing Pre-Proposal, TP SDA, story 8, Adbis, Alin, and bidding in a week</p>
          </div>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>
  </div>
{% endblock %}
