{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
  Story PPW
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type= 'text/css' href="{% static 'style.css' %}">
    <script src="{% static 'js/story10.js' %}"></script>
{% endblock %}


{% block content %}

<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="container text-left">
      <h3 class="btn btn-dark" id="id_change">Change Theme</h3>
    </div>
    <h1 class="center-text" id="hello" align='center'>Subscribe Now!</h1>
    <p align="center" id="header-description">Fill the form below to subscribe this website</p>
    <br>
    <div class="cell medium-1"></div>
    <div class="cell medium-4" style="padding-left: 25%; padding-right:25%">
        <div id="alertt"></div>
        <form class='form-group' id='subsform' method='POST' action="{% url 'Lab6:add_subs' %}">
            <div>
                {% csrf_token %}
                {% for fields in form %}
                    {{ fields.label_tag }}
                    {{ fields }}
                {% endfor %}
            </div>
            <br>
            <div align="center">
                <button class='btn btn-default' id='subs-button' type="submit">Subscribe!</button>
            </div>
        </form>
        <br>
        <br>
        <hr>
        <h1 class="center-text" id="hello1" align='center'>Our Subscriber</h1>
        <div id='list-subscriber'>
            <br>
            <center>
                <table class="table" id='subs-table'>
                    <tr>
                        <thead>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                        </thead>
                    </tr>
                    <tbody></tbody>
                </table>
            </center>
        </div>
    </div>
    <div class="cell medium-1"></div>

{% endblock %}
